/* Frontend Masters Day2 CSS File*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9adcf0;
}
.intro {
    font-style: normal;
    font-weight: bolder;
    font-size: 1.25rem;
}
img {
    display: flex;
    justify-content: space-around;
    border: 0.75rem solid sienna;
}
h1 {
    border: 0.375rem solid red;
    text-align: center;
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}
cite {
    font-size: 1.625rem;
}
.bigbold {
    font-weight: bold;
    font-size: 1.125rem;
}
ol li {
    font-style: italic;
}
ul li {
    font-style: italic;
}
a {
    background-color: #f5f6f4;
}
a:link {
    color: coral;
}
a:visited {
    color: white;
}
a:focus {
    color: cyan;
}
a:hover {
    color: seashell;
}
a:active {
      color: crimson;
}
/* .blah{
    background-color: honeydew;
    margin: 0em;
} 
.blah_detail {
    background-color: beige;
    margin: 0em;
} */